<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Create User</title>
      <link rel="stylesheet" href="/css/styles.css" />
   </head>
   <body>
      <div class="topnav">
         <a href="/">Home</a>
         <a href="/create" class="active">Create-User</a>
      </div>
      <div class="form-add-new">
         <form action="/create-user" method="POST">
            <fieldset>
               <legend>Add User</legend>
               <div class="input-group">
                  <label for="email">Email:</label>
                  <input id="email" name="email" type="text" />
               </div>
               <div class="input-group">
                  <label for="name">Name:</label>
                  <input id="name" name="name" type="text" />
               </div>
               <div class="input-group">
                  <label for="city">City:</label>
                  <input id="city" name="city" type="text" />
               </div>
               <div>
                  <button>Save</button>
               </div>
            </fieldset>
         </form>
      </div>
   </body>
</html>
