<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Delete User</title>
      <link rel="stylesheet" href="/css/styles.css" />
   </head>
   <body>
      <div class="topnav">
         <a href="/">Home</a>
         <a href="/create">Create-User</a>
      </div>
      <div class="form-add-new">
         <form action="/delete-user" method="POST">
            <fieldset>
               <legend>DELETE USER</legend>
               <div class="input-group d-none">
                  <label for="userId">Id:</label>
                  <input id="userId" name="userId" type="text" value="<%= User[0].id %>" />
               </div>
               <div class="input-group">
                  <label for="email">ARE YOU SURE TO DELETE</label>
                  <input id="email" name="email" type="text" value="<%= User[0].email %>" />
               <div>
                  <button>CONFIRM</button>
                  <button>NO</button>
               </div>
            </fieldset>
         </form>
      </div>
   </body>
</html>
