* {
   padding: 0;
   margin: 0;
}

.image1 {
   width: 300px;
}
/* Add a black background color to the top navigation */
.topnav {
   background-color: #333;
   overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
   background-color: #ddd;
   color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
   background-color: #04aa6d;
   color: white;
}

.form-add-new {
   width: 600px;
   margin: 20px auto;
}

.input-group {
   padding: 10px;
}

button {
   cursor: pointer;
   padding: 10px 15px;
   margin: 10px 10px;
}
